# Local virtual envs
venv/
.env/
.env.* 

# Test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Caches and tooling
.mypy_cache/
.cache/
pip-wheel-metadata/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Mac / editor
.DS_Store
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
pip-wheel-metadata/
.env
.python-version
.vscode/settings.json
data/raw/*

*.pyc

data/*/*